@model iTrainee.Models.UserTopics;
@using Microsoft.AspNetCore.Mvc.Rendering;

@{
    ViewData["Title"] = "AddEditUSerTopics";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Author Book Tree View</div>
    <div id="frm-author" class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
		<label class="col-form-label">Trainees</label><br />
		@Html.ListBoxFor(model=>model.TraineeList, new MultiSelectList(Model.TraineeList, "Id", "UserName"),  htmlAttributes: new { id="multiSelectMentor", @class = "form-control", multiple="multiple" })
	    </div>

                <ul class="treeview">
            @foreach (var topic in Model.TopicsList)
            {
                                    <li id="li_1" class="contains-items">

                        <div class="checkbox">
                            <input id="1" type="checkbox" value="1" name="categories[]">
                            <label for="1">
                                @topic.Name
                            </label>
                        </div>
                        <ul>
                            @foreach (var subTopics in topic.SubTopicsList)
                            {
                                <li class="li_1">
                                    <div class="checkbox">
                                        <input id="4" type="checkbox" value="4" name="categories[]">
                                        <label for="4">
                                            @subTopics.Name
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                     </li>

            }
                </ul>

            <div class="form-group">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class="btn btn-success" id="btnSubmit" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        }

    </div>
</div>

    <script>
                $('input[type=checkbox]').change(function(){
            // if is checked
            if(this.checked){
                // check all children
                var lenchk = $(this).closest('ul').find(':checkbox');
                var lenchkChecked = $(this).closest('ul').find(':checkbox:checked');
                debugger
                console.log(lenchkChecked);

                //if all siblings are checked, check its parent checkbox
                if (lenchk.length == lenchkChecked.length) {
                    $(this).closest('ul').siblings().find(':checkbox').prop('checked', true);
                }else{
                    $(this).closest('.checkbox').siblings().find(':checkbox').prop('checked', true);
                }
            } else {
                // uncheck all children
                $(this).closest('.checkbox').siblings().find(':checkbox').prop('checked', false);
                $(this).closest('ul').siblings().find(':checkbox').prop('checked', false);
            }
        });
    </script>
