@model IEnumerable<iTrainee.Models.UserMessages>

@{
    int count = 0;
}
<style>
    .delete-icon {
        color: red;
        font-size: x-large;
    }

    .edit-icon {
        color: #00239B;
        font-size: x-large;
    }

    .view-icon {
        font-size: x-large;
    }

    .actions-column {
        width: 100px;
    }

    .send-message-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        width: 100%;
        padding: 1rem 0.2rem 1rem 1rem;
        border: 1px #eee8e8 solid;
    }

    .chat2 {
        min-height: 385px;
        height: 385px;
        overflow-y: auto;
        padding: 0 10px;
    }

    .fa-send:before, .fa-paper-plane:before {
        padding: 0.5rem;
        font-size: 20px;
    }

    .comments {
        border-radius: 5px;
        background-color: #237fe2;
    }

    .send-message {
        border: none;
        border-bottom: 1.3px solid blue !important;
        border-radius: 5px !important;
    }

    .shadow {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    }

    .send-icon {
        float: right;
        position: relative;
        cursor: pointer !important;
        color: #237fe2;
        font-size: large;
    }

</style>
<div class="container p-0">
    <div id="chat2" class="chat2">
        @foreach (var item in Model)
        {
            @if (count == 0)
            {
                <div class="d-flex flex-row justify-content-start">
                    <div>
                        <p class="small p-2 ms-3 mb-1 rounded-3 mt-2 border-radius-10px" style="background-color: #f5f6f7;border-radius: 5px;">@Html.DisplayFor(modelItem => item.Message)</p>
                        <p class="small ms-3 mb-3 rounded-3 text-muted">@Html.DisplayFor(modelItem => item.Sender)</p>
                    </div>
                </div>
                count++;
            }

            @if (item.Comments != "")
            {
                <div class="d-flex flex-row justify-content-end">
                    <div>
                        <p class="small p-2 me-3 mb-1 text-white rounded-3 comments">@Html.DisplayFor(modelItem => item.Comments)</p>
                        <p class="small rounded-3 text-muted d-flex justify-content-end">@Html.DisplayFor(modelItem => item.Receiver)</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="send-message-bar">
    <textarea type="text" class="form-control send-message shadow" id="floatingTextarea" placeholder="Send Message"></textarea>
    <span class="fa fa-paper-plane send-icon"></span>
</div>

