@model IEnumerable<iTrainee.Models.UserMessages>

@{
    int count = 0;
}
<style>
    .delete-icon {
        color: red;
        font-size: x-large;
    }

    .edit-icon {
        color: #00239B;
        font-size: x-large;
    }

    .view-icon {
        font-size: x-large;
    }

    .actions-column {
        width: 100px;
    }

    /*    #chat2 .form-control {
                                        border-color: transparent;
                                    }

                                        #chat2 .form-control:focus {
                                            border-color: transparent;
                                            box-shadow: inset 0px 0px 0px 1px transparent;
                                        }

                                    .divider:after,
                                    .divider:before {
                                        content: "";
                                        flex: 1;
                                        height: 1px;
                                        background: #eee;
                                    }*/
</style>
<div class="container">

    @*<div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">*@

    <div id="chat2">

            @foreach (var item in Model)
            {
                @if (count == 0)
                {
                    <div class="d-flex flex-row justify-content-start">
                        <div>
                            <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">@Html.DisplayFor(modelItem => item.Message)</p>
                            <p class="small ms-3 mb-3 rounded-3 text-muted">@Html.DisplayFor(modelItem => item.Sender)</p>
                        </div>
                    </div>
                    count++;
                }

                @if (item.Comments != "")
                {
                    <div class="d-flex flex-row justify-content-end">
                        <div>
                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">@Html.DisplayFor(modelItem => item.Comments)</p>
                            <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">@Html.DisplayFor(modelItem => item.Receiver)</p>
                        </div>
                    </div>
                }

                @* <div class="divider d-flex align-items-center mb-4">
                    <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
                    </div>*@


            }
        @* </div>
            </div>*@
</div>
</div>

