@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .admin-dashboard-container {
            margin: auto;
            width: 90%;
        }

        .card {
            border-top: 3px solid rgb(0,35,155);
            color: black;
        }

        .admin-dashboard-row {
            padding-top: 50px;
        }

        .card:hover {
            background-color: #F1F3F4;
            border-radius: 8px;
            box-shadow: rgba(0, 79, 255, 0.3) 0 15px 30px -5px;
            cursor: pointer;
            transform: translateY(-6px);
            transition: transform 700ms cubic-bezier(.3, .7, .4, 1.5);
        }

        a {
            text-decoration: none !important;
        }
    </style>
</head>

<div class="admin-dashboard-container">
    <div class="row row-cols-1 row-cols-md-2 g-4 admin-dashboard-row">
        <div class="col">
            <a href="/Admin/Home/ManageUser?role=Admin">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Admin</h5>
                        <p class="card-text">Mentor is an advisor, counselor, or guide to a trainee.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/Admin/Home/ManageUser?role=Mentor">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mentor</h5>
                        <p class="card-text">Mentor is an advisor, counselor, or guide to a trainee.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/Admin/Home/ManageUser?role=Trainee">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Trainee</h5>
                        <p class="card-text">
                            A person undergoing training, gain skills,
                             of all aspects of the career.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Batch</h5>
                    <p class="card-text">Batch is a group of trainee who have joined on same period</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 admin-dashboard-row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stream</h5>
                    <p class="card-text">Stream is a software language assigned to the trainee to learn and work with.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Topic</h5>
                    <p class="card-text">Manage topics given to the trainee to learn. Click to Create, Update, view the topics</p>
                </div>
            </div>
        </div>
        <div class="col">
              <a href="/Mentor/Home/ManageSubTopics">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SubTopic</h5>
                    <p class="card-text">Manage subtopics given to the trainee to learn. Click to Create, Update, view the subtopics</p>
                </div>
            </div>
        </div>
    </div>
</div>