@model iTrainee.Models.User

@{
    ViewData["Title"] = "Change Password";
}
<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Change password</h3>
		
		<!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->
		<h2>@TempData["CurrentPassword"]</h2>
		<div class="card-text small">
			<form id="changePasswordForm" method="post">
				<div id="passwordVerifyBlock">
				<div class="form-group">
					<label for="exampleInputEmail1">Current Password</label>
					<input type="password" id="currentPassword"  class="form-control form-control-sm" required>
				</div>
				<span id="passwordMisMatchError"></span>
				<button type="button" id="verify">Click Here To Continue</button>
				</div>
				<div id="newPasswordBlock">

					<div class="form-group hide" id="newPasswordBlock" >
						<label for="exampleInputEmail1">Your new password</label>
						<input type="password" id="newPassword" class="form-control form-control-sm" required>
					</div>

					<div class="form-group hide" id="confirmPasswordBlock" >
						<label for="exampleInputEmail1">Confirm password</label>
						<input type="password" id="confirmPassword" class="form-control form-control-sm" required>
					</div>
					<button  class="btn btn-primary btn-block" id="btnChangePassword">Confirm</button>
				</div>
			</form>
		</div>
	</div>
</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#newPasswordBlock").hide();
			$("#verify").click( function() 
			{
				var currentpassword = '@TempData["CurrentPassword"]';
				var verifyPassword = $("#currentPassword").val();
				if(currentpassword == verifyPassword)
				{
					$("#passwordVerifyBlock").hide();
					$("#newPasswordBlock").show();
					
				} else 
				{
					alert("Password Cannot Match! PleaseEnter Valid Password.");
				}
			});

			$("#btnChangePassword").click( function Submit(){
				if ($("#newPassword").val() == $("#confirmPassword").val()) 
				{
					var newPassword = $("#newPassword").val();
					var UserId ='@TempData["UserId"]';
					debugger
					$.ajax({
						type: "POST",
						url: "/Home/ChangePassword",
						data:{ userId: UserId, updatedPassword: newPassword },
						success: function () {
							$("#changePassword").modal("hide");
							window.location.replace("/Home/index");
						},
						error: function () {
						alert("Unable to Change Password");
						},
					});
				} else 
				{
					alert("Password Cannot Same! Please Enter Same Password");
					$('#changePasswordForm')[0].reset();
					Submit();
				}
				
			});
			
		});
	</script>