@model iTrainee.Models.User
@{
    ViewData["Title"] = "Login Page";
    TempData.Keep("UserToken");
}

<div class="container">
    <div class="row d-flex pt-4 justify-content-center align-items-center">
        <div class="col-xl-7">
            <div class="card rounded-3 text-black">

                <div class="row g-0">
                    <div class="rounded-left col-md-5 col-md-5 d-flex align-items-center login-gradient">
                        <div class="text-white px-md-0 mx-md-3 justify-content-center">
                            <h4 class="font-weight-bold mb-4">About Ideas2IT</h4>
                            <p>
                                We're still growing. Our Data Science practice is over 30 strong, our Blockchain practice is over 15 strong, and our projects just get better and better. We're excited for the future!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-7 d-flex align-items-center">
                        <div class="card-body px-4 py-5 text-black">
                            <form id="LoginForm" method="post" asp-controller="Home" asp-action="Login">
                                <div class="d-flex mb-3">
                                    <img src="\css\logo.jpg" width="90" height="90" class="d-inline-block align-top" alt="">
                                    <span class="text-center font-weight-bolder fs-5 login-app-name">iTrainee</span>
                                </div>

                                <h6 class="text-muted mb-3 pt-4" style="letter-spacing: 1px;">Sign-in to your account</h6>

                                <div class="form-outline mb-3">
                                    <label class="form-label text-muted" for="form2Example17">Email</label>
                                    <input type="email" name="UserName" class="form-control form-control-sm" value="@Model.UserName" />
                                     @if(Convert.ToString(TempData["IsValidUserName"]) == "false")
                                    {
                                        <span class="text-danger font-weight-bold">Invalid Email ID</span>
                                          TempData["IsValidUserName"] = "true";
                                    }
                                </div>

                                <div class="form-outline mb-3">
                                    <label class="form-label text-muted" for="form2Example27">Password</label>
                                    <input type="password" name="Password" class="form-control form-control-sm" />
                                    
                                    @if(Convert.ToString(TempData["IsValidPassword"]) == "false")
                                    {
                                        <span class="text-danger font-weight-bold">Invalid Password</span>
                                          TempData["IsValidPassword"] = "true";
                                    }
                                    
                                </div>

                                <div class="pt-2 mb-2">
                                    <button id="LoginBtnSave" class="btn text-white login-gradient btn-md btn-block" type="submit">Login</button>
                                </div>

                                <a class="text-muted text-decoration-none" href="#!">Forgot password?</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
