@model IEnumerable<iTrainee.Models.Batch>

@{
    ViewData["Title"] = "ManageBatch";
}

<style>
	.delete-icon {
        color: red;
        font-size: x-large;
    }

    .edit-icon {
        color: #00239B;
        font-size: x-large;
    }
	.btn-add-gradient {
    background-image: linear-gradient(144deg,#009ffd, rgb(0,35,155) 50%);
    border-radius: 4px;
    box-shadow: rgba(0, 79, 255, 0.3) 0 15px 30px -5px;
    color: #FFFFFF;
    cursor: pointer;
    transform: translateY(-6px);
    transition: transform 700ms cubic-bezier(.3, .7, .4, 1.5);
}
</style>

<div class="d-flex justify-content-between mt-4">

<h3>Manage Batches</h3>
<a href="/Shared/Batch/AddEditBatch?Id=0" class="btn btn-primary btn-add-gradient float-right mb-3"> Add New Batch</a>
</div>

<table class="table table-hover table-bordered">
    <thead>
<tr class="text-center">
			<th >S.No</th>
			<th class="w-50">Batch</th>
			<th colspan="3">
				Actions
			</th>
		</tr>
    </thead>
    <tbody>
        @{
            int Count = 1;
        }
        @foreach (var item in Model) {
        <tr>
            <td>
                @Count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
			<td class="text-center">
                <a href="/Shared/Batch/AddEditBatch?Id=@item.Id" ><i class="fa fa-pencil edit-icon"></i></a> 
            </td>
            <td class="text-center">
                <a data-id-to-delete="@item.Id" data-toggle="modal" data-target="#delete-batch"><i class="fa fa-trash delete-icon"></i></a>
            </td>
            <td class="text-center">
                <a href="/Shared/UserTopics/AddEditUserTopics?Id=@item.Id" >Assign Topics</a>
		    </td>
        </tr>
        Count += 1;
        }
    </tbody>
</table>

<div class="modal fade" id="delete-batch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <span id="name-to-delete"></span>???</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete-batch-button" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script type="text/javascript">

    $('#delete-batch').on('show.bs.modal', function (event) {
                            debugger;

        var button = $(event.relatedTarget)
        var id = button.data('id-to-delete')

        $('#delete-batch-button').on('click', function () {
                    debugger;

            $.ajax({
                url: "/Shared/Batch/DeleteBatch?id=" + id,
                type: "DELETE",
                dataType: "JSON",
                success: function () {
                    $("#myModal1").modal("hide");
                    window.location.reload();
                },
                error: function () {
                    alert("Unable to delete data");
                },
            })
        })
    })
</script>
}
